<!DOCTYPE html>
<html>
<head>
	<title><%= data.pageTitle %> - AwesomeBot Activity</title>
	<% include ../partials/head %>

	<link rel="stylesheet" href="/css/auto-complete.css">
	<script src="/js/auto-complete.min.js"></script>
	<script>
	var mq = window.matchMedia("screen and (max-width: 768px)");
	mq.addListener(mediaStyle);

	var searchInputAutocomplete;
	function switchSearch(type) {
		window.location.href = "/activity/" + type;
	}
	function mediaStyle(mq) {
		if(mq.matches) {
			$(".header-search-box").removeClass("is-large");
			document.getElementById("frame").style.paddingLeft = "15px";
			document.getElementById("frame").style.paddingRight = "15px";
			if(document.getElementById("search-select").value=="servers") {
				switchLayout("list");
			}
		} else {
			$(".header-search-box").addClass("is-large");
			document.getElementById("frame").style.paddingLeft = "0px";
			document.getElementById("frame").style.paddingRight = "0px";
		}
	}

	String.prototype.replaceAll = function(target, replacement) {
		return this.replace(new RegExp(target, "g"), replacement);
	};
	</script>
</head>
<body>
	<section id="header" class="hero is-primary is-small is-bold" style="background: url('/header-image');background-size: cover;" ondblclick="">
		<div class="hero-head">
			<% include ../partials/header %>
		</div>
		<br><br>
		<div class="hero-body">
			<div class="container has-text-centered">
				<h3 class="subtitle is-3">
					How are you, AwesomeBot?
					<span class="icon is-medium">
						<i class="fa fa-thumbs-up"></i>
					</span>
				</h3>
				<h1 class="title is-1">
					<strong><%= totalMessageCount %></strong> message<%= totalMessageCount==1 ? "" : "s" %> today, <strong><%= numActiveServers %></strong> active server<%= numActiveServers==1 ? "" : "s" %>
				</h1>
			</div>
			<br><br>
			<div class="columns">
				<div class="column is-half is-offset-one-quarter">
					<p class="control has-addons has-addons-centered">
						<span class="select is-large header-search-box">
							<select id="search-select" onchange="switchSearch(this.value);">
								<option value="servers"<%= mode=="servers" ? " selected" : "" %>>Servers</option>
								<option value="users" <%= mode=="users" ? " selected" : "" %>>Users</option>
							</select>
						</span>
						<input id="search-input" class="input is-expanded is-large header-search-box" type="text" placeholder="I'm looking for..." value="<%= activeSearchQuery.split('----').join('#') %>">
						<a id="search-button" class="button is-primary is-large header-search-box">
							<span class="icon">
								<i class="fa fa-search"></i>
							</span>
							<span>Search</span>
						</a>
					</p>
				</div>
			</div>
		</div>
		<br><br>
		<div class="hero-foot">
			<div class="container">
				<div class="tabs is-centered">
					<ul>
						<li class="subtitle is-6">Last updated <%= updatedPrettyDate %></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/info-level-section %>

	<section id="frame" class="is-light">
		<% if(mode=="servers") { %>
			<% include ../partials/servers-section %>
			<script>
			switchLayout();
			showSelections();
			</script>
		<% } else { %>
			<% include ../partials/users-section %>
		<% } %>
	</section>

	<section class="hero is-medium is-black">
		<div class="hero-body">
			<div class="container">
				<div class="has-text-centered">
					<h2 class="title is-2">
						Want to <strong>configure AwesomeBot</strong> on a server?
					</h2>
					<p class="hero-buttons">
						<% if(authUser) { %>
							<a class="button is-primary is-large" href="/dashboard">
								<span class="icon">
									<i class="fa fa-sign-in"></i>
								</span>
								<span>Go to my dashboard</span>
							</a>
						<% } else { %>
							<a class="button is-primary is-outlined is-large" href="/login">
								<span class="icon">
									<i class="fa fa-sign-in"></i>
								</span>
								<span>Login to the admin console</span>
							</a>
						<% } %>
					</p>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
</body>