<!DOCTYPE html>
<html>
<head>
	<title><%= pageTitle %></title>
	<% include ../partials/head %>
	
	<script>
	function searchWiki(query) {
		if(query) {
			window.location.href = "/wiki?q=" + encodeURIComponent(query);
		} else {
			window.location.href = "/wiki?page=Home";
		}
	}

	function populateSectionsMenu() {
		var subMenu = "<ul>";
		var pageSections = document.getElementById("frame").querySelectorAll("h1, h2, h3");
		for(var i=0; i<pageSections.length; i++) {
			if(i>0 && pageSections[i].tagName!="H3" && pageSections[i-1].tagName=="H3") {
				subMenu += "</ul>";
			}
			subMenu += "<li>";
			if(pageSections[i].tagName=="H3" && ((i>0 && pageSections[i-1].tagName!="H3") || i==0)) {
				subMenu += "<ul>"
			}
			subMenu += "<a href='#" + pageSections[i].id + "'>" + pageSections[i].innerHTML + "</a></li>";
		}
		subMenu += "</ul>";
		if(pageSections[i-1].tagName=="H3") {
			subMenu += "</ul>";
		}
		$("#submenu").html(subMenu);
		$("table").addClass("table");
	}	
	</script>
</head>
<body>
	<% include ../partials/donate %>
	<section id="header" class="hero is-primary is-small is-bold" style="background: url('/header-image');background-size: cover;">
		<div class="hero-head">
			<% include ../partials/header %>
		</div>
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title is-1">
					<span class="icon is-large">
                        <i class="fa fa-book"></i>
                    </span>
					AwesomeBot <strong>Wiki</strong>
				</h1>
				<h3 class="subtitle is-3">
					Documentation for everything.
					<% var menuToggleButtonSize = ""; %>
					<% include ../partials/menu-toggle %>
				</h3>
			</div>
		</div>
	</section>
	<% pageTitle = pageTitle.substring(0, pageTitle.indexOf(" - AwesomeBot Wiki")) %>
	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<p class="control has-addons has-addons-centered">
						<input id="search-input" class="input is-expanded" type="text" placeholder="I'm looking for..." onkeydown="if(event.keyCode==13) {searchWiki(this.value);}" value="<%= activeSearchQuery %>">
						<a id="search-button" class="button" href="javascript:searchWiki(document.getElementById('search-input').value);">
							<span class="icon is-small">
								<i class="fa fa-search"></i>
							</span>
							<span>Search</span>
						</a>
					</p>
					<br>
					<aside class="menu">
						<p class="menu-label">
							Pages
						</p>
						<ul class="menu-list">
							<% for(var i=0; i<pageList.length; i++) { %>
								<li>
									<% var pageName = pageList[i].substring(0, pageList[i].indexOf(".")); %>
									<a id="menu-<%= pageName.toLowerCase() %>" class="<%= pageName==pageTitle ? 'is-active' : '' %>" href="/wiki/<%= pageName %>">
										<%= pageName %>
									</a>
								</li>
							<% } %>
						</ul>
						<% if(!searchResults && pageContent) { %>
							<p class="menu-label">
								Sections
							</p>
							<ul id="submenu" class="menu-list"></ul>
						<% } %>
					</aside>
					<br>
					<a class="button is-light is-fullwidth" href="https://github.com/BitQuote/AwesomeBot/wiki">
						<span class="icon">
	                        <i class="fa fa-github"></i>
	                    </span>
	                    <span>Edit on GitHub</span>
                    </a>
				</div>
				<div class="column">
					<h1 id="page-title" class="title">
						<%= pageTitle %>
					</h1>
					<div id="frame" class="<%= (!searchResults && pageContent) ? 'content' : '' %>">
						<% if(searchResults) { %>
							<% include ../partials/wiki-search-results %>
						<% } else { %>
							<% if(pageContent) { %>
								<%- pageContent %>
							<% } else { %>
								<% include ../partials/no-results %>
							<% } %>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% if(!searchResults && pageContent) { %>
		<script>
		populateSectionsMenu();
		</script>
	<% } %>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>