<p class="control">
	<label class="checkbox">
	<input name="<%= commandData.name %>-isEnabled" type="checkbox" onclick="$('.<%= commandData.name %>-options').toggleClass('is-hidden');" <%= commandData.isEnabled ? "checked" : "" %>>
		<strong><%= commandData.name %></strong> <%= commandData.description %>
	</label>
	<span class="<%= commandData.name %>-options <%= commandData.isEnabled ? '' : 'is-hidden' %>">
		<span class="select is-small">
			<select name="<%= commandData.name %>-admin_level">
				<option value="0" <%= commandData.admin_level==0 ? "" : "selected" %>>@everyone</option>
				<option value="1" <%= commandData.admin_level==1 ? "selected" : "" %>>Admin level &ge;1</option>
				<option value="2" <%= commandData.admin_level==2 ? "selected" : "" %>>Admin level &ge;2</option>
				<option value="3" <%= commandData.admin_level==3 ? "selected" : "" %>>Admin level 3</option>
			</select>
		</span>
		<br>
		<% for(var i=0; i<channelData.length; i++) { %>
			&nbsp;&nbsp;&nbsp;
			<label class="checkbox">
			<input name="<%= commandData.name %>-disabled_channel_ids-<%= channelData[i].id %>" type="checkbox" <%= commandData.disabled_channel_ids.indexOf(channelData[i].id)==-1 ? "checked" : "" %>>
				#<%= channelData[i].name %>
			</label>
			<br>
		<% } %>
	</span>
</p>